* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}
.padre {
    border: 2px blue dotted;
    display: inline-block;
    text-align:center;
    width: 100vw;
    height: 100vh;
}

.bx {
    display: inline-block;
}

#one{
    width: 100px;
    height: 50px;
    background-color: aqua;
    border: 3px darkblue ridge;
    border-radius: 40px;
    position: absolute;
}

#two{
    width: 300px;
    height: 500px;
    background-color: blueviolet;
    position: relative;
    top: 25px;
    
}
